@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --paleBlue: hsl(243, 100%, 93%);
    --grayBlue: hsl(229, 7%, 55%);
    --darkBlue: hsl(228, 88%, 87%);
    --veryDarkBlue: hsl(0, 100%, 46%);
    --accent1: hsl(6, 100%, 80%);
    --accent2: hsl(335, 100%, 65%);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --paleBlue: hsl(243, 100%, 93%);
      --grayBlue: hsl(229, 7%, 55%);
      --darkBlue: hsl(228, 56%, 26%);
      --burgundy: hsl(348, 96%, 42%);
      --veryDarkBlue: hsl(229, 57%, 11%);
      --accent1: hsl(6, 100%, 80%);
      --accent2: hsl(335, 100%, 65%);
      --accent3: hsl(228, 56%, 26%);
    }
  }

  :root[data-theme="dark"] {
    --paleBlue: hsl(243, 100%, 93%);
    --grayBlue: hsl(229, 7%, 55%);
    --darkBlue: hsl(228, 56%, 26%);
    --burgundy: hsl(348, 96%, 42%);
    --veryDarkBlue: hsl(229, 57%, 11%);
    --accent1: hsl(6, 100%, 80%);
    --accent2: hsl(335, 100%, 65%);
    --accent3: hsl(228, 56%, 26%);
  }
  :root[data-theme="light"] {
    --paleBlue: hsl(252, 2%, 51%);
    --grayBlue: hsl(229, 7%, 55%);
    --darkBlue: hsl(0, 0%, 96%);
    --burgundy: hsl(348, 96%, 42%);
    --veryDarkBlue: hsl(0, 0%, 100%);
    --accent1: hsl(6, 100%, 80%);
    --accent2: hsl(335, 100%, 65%);
    --accent3: hsl(335, 100%, 65%);
  }

  html {
    @apply bg-veryDarkBlue scroll-smooth;
  }

  body {
    @apply bg-veryDarkBlue text-paleBlue transition duration-500 max-w-[1920px] mx-auto
    scrollbar-thin scrollbar-thumb-paleBlue scrollbar-track-transparent overflow-y-scroll h-full 
    ; 
  }
}
